.box{
    width: 400px;
    height: 400px;
    border: solid black 2px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all 3s linear 0.5s;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(0.5);
    transform: rotate(-45deg); */
    transform: skew(-45deg);
    transform: translate(-500px,500px,10px );
}
p{
    font-size: 28px;
}