<form action="/favorites" method="post" >
  <button type="submit" class="bg-green-500 text-white rounded-lg m-2 p-3" >Add to Favorites</button>
  <input type="hidden" name="id" value="<%= home.id %>">
</form>