<header class="bg-red-500 text-white py-6 text-center shadow-md">
  <nav class="flex flex-row justify-between ">
    <a class="text-2xl font-bold uppercase tracking-wide" href="/">Airbnb</a>
    <a class="text-2xl font-bold uppercase tracking-wide"  href="/home-list">Home Lists</a>
    <a class="text-2xl font-bold uppercase tracking-wide"  href="/favorites">Favorites</a>
    <a class="text-2xl font-bold uppercase tracking-wide"  href="/bookings">Bookings</a>
    <a class="text-2xl font-bold uppercase tracking-wide"  href="#">Host Homes</a>
    <a class="text-2xl font-bold uppercase tracking-wide"  href="/host/add-home">Add Home</a>
  </nav>
</header>