<%-include('partials/head')%>
</head>
<body>
  <%-include('partials/header')%>
  <div class="flex w-lvw p-5 justify-center "><h2 class=" text-red-500 text-5xl">404 Page Not Found</h2></div>
</body>
</html>