body{
    font-family: 'Poppins';
    background-color: rgba(72, 163 , 0, 0.07);
    margin: 0;
}
main{
    padding: 0 16px 32px;
}
.title{
    font-size:64px;
    color: #48A300;
    text-align: center;
}
.title span{
    color: #61481c;
}
.app-container{
    /* border: 2px black solid; */
    background-color: #fbfbfb;
    max-width: 660px;
    margin-inline: auto;                                                  /*    main content ko center me kardiya bina Flex ke  */
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.01);
}
img{
    width: 1.5em;
    border-radius: 100%;
    vertical-align: middle;                                               /* imafe ko vertically center ne krdiyaa*/
    margin-left: 15px;
}
.progress-label{
    font-size: 14px;
    color: #858585;
    margin-bottom: 18px;
}
.progress-bar{
    height: 30px;
    background-color: rgba(72  , 163, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 48px;
}
.progress-value{
    height: 100%;
    width:0%;
    background-color:#48A300 ;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 500;
    color: #eeffe0;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* visibility: hidden; */
}
.progress-value span{
    padding-left: 20px;
}
.show-error .error-label{                                                      /*Jb show error wali class hogi aur ke andr kisi element ki class me error-label hoga uspe*/
    display: block;
}
.error-label{
    font-size: 12px;
    color:#ff5151;
    position: absolute;                                                       /* Position absolute kr rhe taki wahi pe show ho , vrna display none krke krenge to to page me changes ayenge upr neeche hoga input , so ek jgh absolute position krdi wahi pe show hoga */
    margin-top: 8px;                                                          /* position kaha pe show hogi uske liye margin top se 8px neeche*/
    display: none;
}

.custom-checkbox{
    height: 20px;
    width: 20px;
    border: solid rgb(136, 136, 136) 1px;
    border-radius: 50%;
    /* display: inline-block;       aise krke bhi center me daal skte the checkbox ko 
    vertical-align: middle; */
    margin-right: 10px;
    flex-shrink: 0;                                                             /*taki page chota krte vkt checkbox shrink na ho*/
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: #ff5151; */
}
.goal-container{
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background-color: #ffffff;
    margin-bottom: 40px;
}
.goal-input{
    /* background-color: pink; */
    height: 95%;
    border: none;
    font-size: 16px;
    outline: none;                                  /* jo box jaisa dikhta hai placeholder ke upr*/
    font-family: inherit;                           /*Parent ki font family inherit kr rha*/
    width: 100%;

    /* flex-grow: 1          taki input ka area badh jaaye aur pure box me kahi pe type kre aur input focus me ajaaye aur page bdhane pe apne app badhta jaaye               */ 
    /* align-self: stretch; */
}
.goal-input::placeholder {
    color: #d9d9d9;
    /* color: red; */
}
.quote{
    font-weight: 500;
    text-align: center;
}
.quote2{
    margin-top: 52px;
    font-weight: 500;
    text-align: center;
    font-size: 10px;
    color: #858585;
}
.completed .custom-checkbox{                                            /* taki hum completed class bss add kre JS se Aur sb kuch hojayee checkbox checked hona task cut hona sare function */
    background-color: #48A300;
    border-color: #48A300;
}
.completed .goal-input{
    color: #48A300;
    text-decoration: line-through;
}
.completed .tick-image{
    display: block;
}
.tick-image{
    display: none;
}
@media(max-width:768px){
    .title{
        font-size: 32px;
    }
    .app-container{
        padding: 16px 32px;
    }
    .goal-container{
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
    }
    .custom-checkbox{
        height: 15px;
        width: 15px;
    }
    .quote2{
        margin-top: 32px;
    }
}

