<%- include('partials/head')%>
</head>
  <body>
    <%-include('partials/header')%>
    <header><h1>Welcome to airbnb</h1></header>
    <main><a href="/host/add-home">ADD HOME</a></main>
  </body>
</html>
