* {
  box-sizing: border-box;
}
body {
  --background-color:var(white);
  --text-color:var(black);
  --elements-color:var(white);
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
main {
  margin: 24px;
}
.title a{
  font-weight: 800;
  text-decoration: none;
  color: black;
}
.header-container {
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--elements-color);
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  /* background-color: pink; */
}
.search-filter-container {
  width: 100%;
  margin-inline: 24px;
  margin-block: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  /* background: #c9a3a3; */
}
.search-container {
  width: 100%;
  max-width: 350px;
  border-radius: 4px;
  box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.15);
  padding-left: 10px;
}
.search-container i{
  margin-inline: 4px;
  color: #999;

}
.search-container input{
  width: 90%;
  border: none;
  outline: none;
  padding: 10px ;
  margin-left: 4px;
  overflow: hidden;
  border-radius: inherit;
}
.search-container input::placeholder{
  color: #999;
  font-family: Nunito, sans-serif;
  font-weight: 500;
}
.filter{
  width: 150px;
  padding: 10px;
  margin-right: 24px;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border:solid 0.01px #a1a1a1;
  font-family: inherit;
  font-weight: 500;
  color: #504f4f;
}


.country-card {
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.2s linear 0.1s;
  display: inline-block;
  padding-bottom: 24px;
  text-decoration: none;
  color: black;
  background-color: var(--elements-color);

}
.country-card:hover {
  transform: scale(1.04);
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.country-card img {
  width: 100%;

}
.card-content {
  padding-inline: 16px;
}
.card-content h3 {
  font-size: x-large;
  margin-block: 8px;
}
.card-content p {
  margin-block: 8px;
}
.countries-container {
  margin-inline: auto;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: space-between;
}
.flag-img {
  margin-top: 0;
  height: 200px;
}

@media (max-width: 768px) {
  .countries-container {
    justify-content: center;
  }
  .title {
    font-size: 16px;
  }
  .header-content p {
    font-size: 12px;
  }
  .search-filter-container {
    flex-direction: column;
  }
}
