<%- include('partials/head')%>
</head>
<body class="bg-gray-100 text-gray-900 h-screen">
  <%- include('partials/header')%>
  <header class="text-center">
    <h1 class="text-6xl pt-5 font-bold text-red-500">404</h1>
    <p class="text-xl text-gray-700 mt-4">Oops! Page Not Found</p>
    <a href="/" class="mt-6 inline-block bg-red-500 text-white px-6 py-3 rounded-md text-lg font-semibold hover:bg-red-600">Go Home</a>
  </header>
</body>
</html>
