<%-include('partials/head')%>
</head>
<%- include('partials/header')%>
<header class="text-center">
  <h1 class="text-4xl py-5 font-bold text-pink-500">Home Registered Successfully!</h1>
</header>
<main class=" flex flex-col items-center mt-6">
  <a href="/" class="bg-pink-500 text-white px-6 py-3 rounded-md text-lg font-semibold hover:bg-pink-600">Go to Home Page</a>
</main>
</body>
</html>
