<nav class="m-0 w-lvw flex  items-center  px-12 dark:bg-gray-800 min-h-12">
  <div class=" max-w-8xl flex flex-row m-auto">
  <div class="bg-blue-700 text-center min-w-25 p-2 m-4 text-white rounded-xl hover:bg-blue-800">
    <a href="/home">Home</a>
  </div>
  <div class="bg-blue-700 text-center min-w-25 p-2 m-4 text-white rounded-xl hover:bg-blue-800">
    <a href="/admin/edit-home">Edit Home</a>
  </div>
  <div class="bg-blue-700 text-center  min-w-25 p-2 m-4 text-white rounded-xl hover:bg-blue-800"><a href="/store/home-list">Home-list</a></div>
  <div class="bg-blue-700 text-center min-w-25  p-2 m-4 text-white rounded-xl hover:bg-blue-800"><a href="/store/home-detail">Home-detail</a></div>
  <div class="bg-blue-700 text-center min-w-25  p-2 m-4 text-white rounded-xl hover:bg-blue-800"><a href="/store/favorite-list">Favorite-list</a></div>
  <div class="bg-blue-700 text-center min-w-25 p-2 m-4 text-white rounded-xl hover:bg-blue-800"><a href="/store/reserve">Reserve</a></div>
  <div class="bg-blue-700 text-center min-w-25 p-2 m-4 text-white rounded-xl hover:bg-blue-800"><a href="/store/bookings">Bookings</a></div>
</div>
</nav>
