<%- include('../partials/head')%>
</head>
<body>
  <%- include('../partials/header')%>
  <div class="w-screen h-screen flex justify-center items-center ">
    <div class="w-full pt-12 pb-2 max-w-sm flex flex-col justify-center bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <div class="flex flex-col items-center pb-10">
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Reserve</h5>
      </div>
    </div>
  </div>
</body>
</html>