*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    padding-left: 15.5%;
    padding-right: 15%;
}
 .container{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: solid rgb(0, 0, 0) 4px; */
    padding: 5px;
    /* display: flex; */
    /* flex-direction: column; */
    
 }
 .header{
    /* background-color: blue; */
    /* border: solid black 2px; */
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
 }
 .header h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.4rem;
    margin-top: 15px;
    margin-bottom: 5px;
 }
 .header_desc{
    font-size: 1rem;
    font-weight: 500;
    width: 75%;
    color: rgb(4, 4, 4);
    padding: 15px;
    text-align: center;
 }
 .card_container{
    /* background-color: rgb(91, 91, 240); */
    height: 100%;
    width: 100%;
    /* margin: 2px; (iske chkr me khrb hora tha sb) */
    padding: 5px; 
   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,500px));
    /* grid-template-rows: repeat(2,1fr); */
    gap: 10px;
    border-radius:10px ;
    
 }
 .cards{
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    /* overflow: hidden; */
    border-radius:10px ;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
 .card_img {
    height: 60%;
 }
 img{
    height: 100%;
    width: 100%;
 }
 .card_img img{
   border-radius:12px 12px 0px 0px;
   transition: all 0.1s linear 0s;
 }
 .card_img img:hover{
   transform: scale(1.04);
   border-radius:12px 12px 8px 8px;
   box-shadow: 3px 3px 3px rgb(85, 85, 85);
 }
 .items h2{
    font-size: 1.1rem;
    margin-bottom: 4px;
 }
.card_content{
    /* height: 10%; */
    margin: 8px;
    padding: 5px;
    overflow:hidden ;
}
.connect{
    min-height: 5%;
    /* border: solid black 2px; */
    /* background-color: rgb(31, 223, 102); */
    padding: 4px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    justify-content: space-between;
    gap: 20px;
}
.connect span{
    font-size: 1rem;
    font-weight:500;
}
.si img{
 width: 3.5rem;
 height: 3.5rem;
 clip-path: circle(50%);
 transition: all 0.24s linear 0s;
}
.si img:hover{
   transform: scale(1.6);
}

button{
   padding: 8px;
   margin: 1px;
   border-radius: 8px;
   color: rgb(255, 255, 255);
   background-color: rgb(207, 49, 238);
   transition: all 0.1s linear 0s;
}
button:hover{
   cursor:pointer;
   transform: scale(1.15);
   box-shadow: 4px 3px 8px rgb(246, 246, 148);
}